.page-container {
    margin: 10px;
    padding: 20px;
}
.mlrp-4 {
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
}
.mtbp-10 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.mp-5 {
    margin: 5px;
    padding: 5px;
}
